@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #030303;
}

html {
  scroll-behavior: smooth;
}

.scrollToTopButton {
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.scrollToTopButton.visible {
  opacity: 1;
}